* {
    margin: 0%;
    /* font-family: 'Death Star', sans-serif; */
    color: white;
}

h1{
    color: yellow;
    font-family: 'RedFive', sans-serif;
}

body {
    margin: 0;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.cima{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cima > img{
    height: 250px;
    width: auto;
}

.cima > form > input{
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.seta{
    display: flex;
    flex-direction: row;
}

input{
    color: black;
}

.meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

img{
    height: 300px;
    width: auto;
}

.meioimg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Button */

.button {
    position: relative;
    padding: 16px 30px;
    font-size: 1.5rem;
    color: var(--color);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
    background-color: transparent;
  }
  
  .button:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color);
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
  }
  
  .button:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 10px var(--color), 0 0 30px var(--color),
      0 0 60px var(--color);
  }